<div class="svg">
    <div class="custom-shape-divider-top-1634610468">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill-footer"></path>
        </svg>
    </div>
</div>

<footer>

    <div class="footer">

    <div class="footerContent">
        <div class="logo_social">
            <img src="/img/icons/logo.png" alt="">
            <h4>Healthy Food</h4>
            <div class="social">
                <ul>
                    <li><span><i class="bi bi-envelope-fill"></i></span></li>
                    <li><span><li><span><i class="bi bi-instagram"></i></span></li>
                    <li><span><i class="bi bi-twitter"></span></li>
                    <li><span><i class="bi bi-facebook"></span></li>
                </ul>
            </div>
        </div>
        <div class="subscribe">
            <h5>Stay Connected with us</h5>
            <p>Get more updates on Delicious foods</p>
            <form action="">
                <input type="email" name="sub-email" id="" placeholder="Enter email">
                <input type="submit" value="Subscribe">
            </form>
        </div>
        <div class="footer-nav-links quick-links">
            <h5>Quick Links</h5>
            <p>
                <a href="/"><li>Home</li></a>
                <a href="/vendors"><li>Vendors</li></a>
                <a href="/blog"><li>Blog</li></a>
                <li><a href="/about">About us</a></li>
                <a href="/contact"><li>Contact</li></a>
            </p>
        </div>
        <div class="footer-nav-links business-links">
            <h5>Business</h5>
            <p>
                <a href="/faq"><li>F.A.Q</li></a>
                <a href="/privacy"><li>Privacy and Policy</li></a>
                <a href="/terms"><li>Terms and Condtions</li></a>
            </p>
        </div>
        <div class="footer-nav-links partner-links">
            <h5>Partner with Us</h5>
            <p>
                <a href="/restaurants"><li>For Restaurants</li></a>
                <a href="/drivers"><li>For Drivers</li></a>
            </p>
        </div>            
    </div>
    <hr>
    <div class="copy">
        <p>&copy; copyright. All rights reserved.</p>
    </div>
                
</div>
</footer>