<%- include("./partials/header") %>
<title>About</title>
</head>
<nav>
    <%- include("./partials/menu") %>
</nav>

<body>

    <div class="aboutPage">
    
        <!-- <nav>
            <div class="mpages">
                <ul>
                    <a href="/"><li>Home</li></a>
                    <i class="bi bi-arrow-down-circle"></i>
                    <a href="/vendors"><li>Vendors</li></a>
                    <a href="/blog"><li>Blog</li></a>
                    <li><a href="/about">About us</a></li>
                    <a href="/contact"><li>Contact</li></a>
                </ul>
            </div>
            <div class="extras hom-extra-1">
                <img src="./public/img/img/cssp 1.png" alt="">
            </div>
            <header>
                <div class="logo">
                    <img src="/img/icons/logo.png" alt="Tc logo">                
                </div>
                <div class="hamburger">
                   <ul>
                       <li></li>
                       <li></li>
                       <li></li>
                   </ul>
                </div>
                <div class="wpages">
                    <ul>
                        <a href="/"><li>Home</li></a>
                        <a href="/vendors"><li>Vendors</li></a>
                        <a href="/blog"><li>Blog</li></a>
                        <li><a href="/about">About us</a></li>
                        <a href="/contact"><li>Contact</li></a>
                    </ul>
                </div>
                <div class="search">
                    <img src="./public/img/icons/Search.png" alt="">
                    <input type="text" name="search" id="search" placeholder="search Meal...">
                </div>
                <div class="sign-log">
                    <ul>
                        <a href="./views/Login.htm" target="_blank"><li class="login">Login</li></a>
                        <li class="signup"> <span>Sign Up</span></li>
                    </ul>
                 
                </div>
            </header>
        </nav> -->


        <main>
            <div class="aboutusMain">
    
                <div class="extras abtextra-1">
                    <img src="/img/img/cfjkd 1.png" alt="" srcset="">
                </div>
    
                <section>
                    <div class="aboutSection">
                        <div class="aboutusContent">
                            <h4>About Us</h4>
                            <h3>Who & What?</h3>
                            <p> We at TasteClan are a group of people united by a common interest: to see the youth vigorous and vibrant again! We noticed how college
                                 structures usually leave the students stressed out and tired, feeding on nothing but junk at irregular periods and we set out to change that.                           
                            </p>
                            <p> We aim to connect students, and working class individuals alike, to healthy food at just the right time. In addition, we periodically supply 
                                valuable information about good eating habits and also endorse the businesses of student foodpreneurs </p>
                        </div>
                        <div class="extras abtextra-2">
                            <img src="/img/img/Layer 13@1 1.png" alt="">
                        </div>
                        <div class="abtsectionimg">
                            <img src="/img/img/Image Text.png" alt="">       
                        </div>
                        <div class="extras abtextra-5">
                            <img src="/img/img/Layer 14@1.5x.png" alt="">
                        </div>
                    </div>
                </section>
    
    
                <div class="extras platforms">
                    <img src="/img/img/006-amazon-logo.png" alt="">
                    <img src="/img/img/012-verisign-logo.png" alt="">
                    <img src="/img/img/022-webmoney-paying-logo.png" alt="">
                    <img src="/img/img/026-american-express-logo.png" alt="">
                    <img src="/img/img/037-ukash-logo.png" alt="">
                    <img src="/img/img/045-paymate-logo.png" alt="">
                    <img src="/img/img/047-master-card-logo.png" alt="">
                    <img src="/img/img/050-worldpay-logo.png" alt="">
                    <img src="/img/img/055-payoneer-logo.png" alt="">
                    <img src="/img/img/056-bbb-better-business-bureau-logo-with-a-flame.png" alt="">
                    <img src="/img/img/061-stripe-logo.png" alt="">
                    <img src="/img/img/062-paypal-logo.png" alt="">
                </div>
    
    
                <div class="extras abtextra-3">
                    <img src="/img/img/o8fnbbsf1nl96ak6uiqpblfr0c 1.png" alt="">
                </div>
    
                <div class="svg">
                    <div class="custom-shape-divider-top-1634610468">
                        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill-abt1"></path>
                        </svg>
                    </div>
                </div>
                <div class="extras abtextra-4">
                    <img src="/img/img/Layer 11@1.5x.ng" alt="">
                </div>
                <section>
                    <div class="ourStorySection">
                        <div class="header">
                            <h4>Our Story</h4>
                        </div>
                        <div class="ourStory-Content">
                            <div class="videos-container">
                                <img src="/img/img/edgar-castrejon-1SPu0KT-Ejg-unsplash 1.png" alt="">
                                <img src="/img/img/standing-person-using-fork-and-knife-on-preparing-food-2814828 1.png" alt="">
                                <img src="/img/img/blur-breakfast-chef-cooking-262978 1.png" alt="">
                                <img src="/img/img/man-in-white-dress-shirt-wearing-eyeglasses-3814446 1.png" alt="">                           
                            </div>                            
                            <div class="line">
                                <img src="/img/img/Group 108.png" alt="">
                            </div>
                            <div class="text-container">
                                <div class="text">
                                    <h6>Ideas</h6>
                                    <p>It all started from a single idea. We wanted to create a place that would <br>
                                        offer its customers easy ordering and deliver of their favorite dishes.
                                    </p>
                                </div>
                                <div class="text">
                                    <h6>Develop</h6>
                                    <p>The website was designed and develope in order to help student get their <br>
                                        food easily. It took months and pain to get the site up. United we stand!
                                    </p>
                                </div>
                                <div class="text">
                                    <h6>Opening</h6>
                                    <p>After making necessary preparations, completing our staff with <br>
                                        experieced people, we were ready fro new guests and clients. <br> #TasteClan
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="svg">
                    <div class="custom-shape-divider-top-1634610468">
                        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill-abt2"></path>
                        </svg>
                    </div>
                </div>
    
    
                <section>
                    <div class="howToOrderSection">
                        <div class="text-container">
                            <div class="text-box">
                                <h5>Search</h5>
                                <span><p>01</p></span>
                                <p>Type out the healthy dish you crave to look through our options.</p>
                            </div>
                            <div class="text-box">
                                <h5>Order & Check Out</h5>
                                <span><p>02</p></span>
                                <p>Add the dish to your cart and make your order.</p>
                            </div>
                            <div class="text-box">
                                <h5>Delivery & Enjoy</h5>
                                <span><p>03</p></span>
                                <p>Wait a few minutes for your dish to get to your location and relish your nutritious deliciousness</p>
                            </div>
                        </div>
                        <div class="img">
                            <img src="/img/img/fast-food-french-fries-hamburger-junk-food-mcdonald-s-big-mac-junk-food-531e90bafa3634e4434a98ac39076514.png" alt="">
                        </div>
                        <div class="howto">
                            <h4>How to Order</h4>
                            <h3>There are 3 step to get your yummy and delicious meal</h3>
                            <video src="/video/2008-01-01 03-01-06.mkv" controls></video>
                        </div>
                    </div>
                </section>
    
                <section>
                    <div class="services">
                        <div class="ser ser-1">
                            <img src="/img/icons/calendar.png" alt="services icons">
                            <h2>800</h2>
                            <p>ORDERS RECEIVED</p>
                        </div>
                        <div class="ser ser-2">
                            <img src="/img/icons/take-away.png" alt="services icons">
                            <h2>633</h2>
                            <p>FOOD DELIVERED</p>
                        </div>
                        <div class="ser ser-3">
                            <img src="/img/icons/Group.png" alt="services icons">
                            <h2>1000</h2>
                            <p>CLIENTS EVERYDAY</p>
                        </div>
                        <div class="ser ser-4">
                            <img src="/img/icons/customer-satisfaction.png" alt="services icons">
                            <h2>3050</h2>
                            <p>HAPPY CUSTOMERS</p>
                        </div>
                        <div class="ser ser-5">
                            <img src="/img/icons/Group (1).png" alt="services icons">
                            <h2>200</h2>
                            <p>CITIES</p>
                        </div>
                    </div>
                    <!-- <div class="extras abtextra-6">
                        <img src="/img/img/pngkey.com-plate-of-food-png-547669.png" alt="">
                    </div> -->
    
                    <div class="ourTeam">
                        <img src="/img/img/Team.png" alt="">
                    </div>
                </section>
    
                <div class="extras abtextra-7">
                    <img src="/img/img/whhys.png" alt="">
                </div>
                <section>
                    <div class="ourTeamSection">
                        <div class="ourTeam-container">
                            <h4>Our Support Team will assist you with any question</h4>
                            <div class="ourTeamServicesOptions">
                                <div class="ourTeam-box">
                                    <h6>Email</h6>
                                    <p>info.tasteclan@gmail.com</p>
                                </div>
                                <div class="ourTeam-box">
                                    <h6>Need Expert</h6>
                                    <p>Get a quote</p>
                                </div>
                                <div class="ourTeam-box">
                                    <h6>Telephone</h6>
                                    <p>+234 812 3849 340</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="extras abtextra-8">
                    <img src="/img/img/pasta-bolognese-sauce-italian-cuisine-lasagne-wine-wine-f18db469c8aff8c8b2843a5fe9398039.png" alt="">
                </div>
    
            </div>
        </main>
    
            
    </div>
    <%- include("./partials/footer") %>
    </body>
    <%- include("./partials/scripts") %>