<%- include ("./partials/header") %>
<title>Cart</title>
</head>
<style>
    body{  }
    .hamburger ul{z-index: 99;display: block;transform: translate(-20px,-18px);
        background: #F2F2F2;width: 100%; height: 50px;padding-top: 10px;}

        .hamburger ul{z-index: 99;display: block;transform: translate(-20px,-18px);
    background: #F2F2F2;width: 100%; height: 50px;padding-top: 10px;}

    .darkOverlay{
        height: 100vh;
    }

    /* complete purchase style */
    .completePurchase-container{
        position: absolute;
        display: none;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90vh;
        z-index: 99;
    }
    .completePurchase{
        background-color: #f9f9f9;
        padding: 10px 50px;
        border-radius: 16px;
        width: 500px;
        height: auto;
    }
    .completePurchase .btn{
        width: 97%;
        background-color: #FE724E;
        padding: 3px 9px;
        border-radius: 10px;   
        cursor: pointer;

    }

    .completePurchase .btn p{
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.5px;
        text-align: center;
        color: #f9f9f9;
    }
    .completePurchase .acct{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px 20px;
            height: 70px;
    }
    .completePurchase .acct p{
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.5px;
        text-align: center;
        width: 200px;
        padding: 6px 9px;
        border-radius: 5px;
        background: #F2F2F2;
    }

    .completePurchase .acct .num{ display: flex;align-items: center; gap: 20px; }
    .completePurchase .acct .num .bi{ cursor: pointer;}


    input[type=button]{
        
    }

    .navBack{display: flex; column-gap: 10px;position: absolute;top: 0%; right: 3%;color:#FE724E;cursor: pointer;    }
    @media screen and (max-width: 900px){
    .ShoppingCart-Page .hamburger{display: block;}
    .ShoppingCart-Page .page-1 main{order: 2;padding: 50px 15px 0px 15px;}
    .ShoppingCart-Page .page-1 aside{display: none;
        width: 0%;position: fixed;z-index: 1;padding: 0px;
        left: 0%;top:0%;}

    .ShoppingCart-Page .page-1 aside .aside{display: none;}
    .ShoppingCart-Page .page-1 aside .aside .button span{width: 50%;
    }

    .items .item{transform: translateX(-20px);}
    }

    /* screen width 900px
    @media screen and (max-width: 900px){
    .ShoppingCart-Page .page-1{display: block;}
    .ShoppingCart-Page .page-1 main{order: 2;padding: 50px 15px 0px 15px;}
    .ShoppingCart-Page .page-1 aside{display: block;
        width: 0%;position: fixed;z-index: 1;padding: 0px;
        left: 0%;top:0%;}
    
    .ShoppingCart-Page .page-1 aside .aside{display: none;}
    .ShoppingCart-Page .page-1 aside .aside .button span{width: 50%;}

     .items .item{transform: translateX(-20px);}
    } */

</style>   

<body onload="{{getCartItems();cartCalc();}}" style="box-sizing: border-box;">

    <div class="darkOverlay"></div>
    
    <div class="completePurchase-container">
        <div class="completePurchase">
            <div>Order Id: <span id="orderId"></span></div>
            <div class="acctNum acct">
                <h6>Account Number</h6>
                 <div class="num">
                    <i class="bi bi-clipboard"></i>
                    <p>8221484140</p>
                 </div>
            </div>
            <div class="acctBank acct">
                <h6>Account Bank</h6>
                <p>WEMA BANK</p>
                <!-- <i class="bi bi-clipboard-check"></i> -->
            </div>
            <div class="acctName acct">
                <h6>Account Name</h6>
                <p>TasteClan</p>
                <!-- <i class="bi bi-clipboard-check"></i> -->
            </div>
            <div class="btn"><p>OK</p></div>
        </div>
    </div>

    <div class="ShoppingCart-Page" >
        <div class="hamburger" onclick="{{
            let getWidth = window.getComputedStyle(document.querySelector('.page-1 aside'),null).getPropertyValue('width');
            // console.log(getWidth);
            if (getWidth == '0px'){$('.page-1 aside').css({'width':'80%','display':'block','padding': '50px 0px 0px 50px'});
                                  $('.page-1 aside .aside').css({'display':'block'});$('.hamburger ul').css('background','transparent') }
            else{$('.page-1 aside').css({'width':'-4%','padding':'0px'});
                $('.page-1 aside .aside').css({'display':'none'})
                ;$('.hamburger ul').css('background','#F2F2F2')}
            count++;
        }}" style="display: none">
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>

        <!-- <div class="navBack" onclick="{{window.history.back()}}">
            <i class="bi bi-arrow-left"></i> BACK
        </div> -->

            <div class="page-1">
                <main>
                    <header>
                        <div class="header">
                            <h3>Shopping Cart</h3>
                            <span id="items">0 ITEMS</span>
                            <div class="order">
                                <p>ORDERS FROM</p>
                                <span></span>
                            </div>                 
                        </div>
                    </header>
        
                 <div class="main-content">
                     <div class="items-container">
                        <div class="table">
                            <div class="header">
                                <p>items</p>
                                <p>Unit Price</p>
                                <p>Quantity</p>
                                <p>Total</p>
                            </div>

                            <div class="item">
     
                            </div>
                            
                        </div>
                        </div>

                        <div class="buttons">
                            <span class="back"><a href="/order" style="color: #FE724E"><i class="bi bi-arrow-left"></i> CONTINUE SHOPPING</a></span>
                        </div>
                   </div>

                </main>
        
                <aside>
                        <div class="header">
                            <h4>Summary</h4>
                        </div>
                        <div class="main">
                            <div class="sum">
                                <p>Subtotal</p>
                                <span id="subtotal">NGN 0.00</span>
                            </div>
                            <div class="sum">
                                <p>Delivery</p>
                                <span id="delivery">NGN 500</span>
                            </div>
                        </div>
                        <div class="button">
                            <a href="#checkOutPage"><span>CHECK OUT &nbsp; <i class="bi bi-arrow-right"></i> </span></a>
                        </div>

                </aside>
        
            </div>

    </div>


 <!-- checkout-page -->
<div class="CheckOutPage" id="checkOutPage">
        <div class="page-2">
            <!-- <header>
                <div class="logo">
                    <img src="../../public/img/img/Logo.png" alt="">
                    <span class="close" onclick="{{document.querySelector('.ShoppingCart-Page .page-1').style.display = 'flex'}}">X Close</span>
                </div>
            </header> -->
                <div class="main-content-container">
                    <aside>
                        <div class="option">
                            <div class="header">
                                <h4>Checkout</h4>
                            </div>
                            <div class="content">
                                    <p> <span class="animation"></span> User Detials</p>
                                    <p><span class="animation"></span> Shipping Details</p>
                                    <p><span class="animation"></span> Payment Details</p>
                            </div>
                        </div>
                    </aside>
        
                     <main>
        
                         <!-- userDetails page -->
                        <!-- <div class="userDetails">
                            <div class="page-1">
                                <div class="header">
                                    <h4>Who is placing this order?</h4>
                                </div>
            
                                <div class="form">
                                    <form id="form-1" onsubmit="{{this.onsubmit=(e)=>{e.preventDefault();}}}">
                                        <input type="email" name="email" id="" placeholder="Email Address">
                                        <div class="div-sec">
                                            <input type="text" name="first_name" id="" placeholder="First Name">
                                            <input type="text" name="last_name" id="" placeholder="Last Name">
                                        </div>
                                        <input type="submit" value="PROCEED TO SHOPPING" onclick="copyToBoard()">
                                    </form>
                                </div>
                            </div>
                        </div> -->
        
                 <form action="" id="form">

                        <!-- shipping Details -->
                        <div class="shippingDetails">
                            <div class="page-3">
                                <div class="header">
                                    <input type="text" name="orderList" id="orderList" style="display:none">
                                    <p>Who is placing this order?</p>
                                </div>
                                <div class="form">
                                    <input type="email" name="email" id="" placeholder="Email Address">
                                    <div class="div-sec">
                                        <input type="text" name="first_name" id="" placeholder="First Name">
                                        <input type="text" name="last_name" id="" placeholder="Last Name">
                                    </div>
                                    <div class="header">
                                        <p>Where would you like to send the order?</p>
                                    </div>

                                    <input type="text" name="country" id="" placeholder="Country">
                                    <input type="text" name="address" id="" placeholder="Address">
                                    <div class="div-sec">
                                        <input type="text" name="state" id="" placeholder="State">
                                        <input type="text" name="city" id="" placeholder="City">
                                    </div>
                                    <div class="div-sec">
                                        <input type="number" name="Zcode" id="" placeholder="Zip Code">
                                        <input type="tel" name="phone" id="" placeholder="Phone number">
                                    </div>
                                    <input type="text" name="note" id="" placeholder="Order Note (optional)">
                                    
        
                                </div>
                            </div>
                            <div class="submit-button">
                                <a href="#"><input type="button" value="COMPLETE PURCHASE" ></a>
                            </div>
                        </div>
        
                        <!-- payment Detials -->
                        <!-- <div class="paymentDetails">
                            <div class="header">
                                <h4>How would you like to pay?</h4>
                            </div>
        
                            <div class="pay-type">
                                <div class="credit-card type">
                                    <input type="radio" name="payment">
                                    <p>Pay with Credit Card</p>
                                </div>
                                <div class="paypal type">
                                    <input type="radio" name="payment">
                                    <p>Pay with Paypal</p>
                                </div>
                                <div class="credit-card type">
                                    <input type="radio" name="payment">
                                    <p>Pay with Credit Card</p>
                                </div>
                            </div>
        
                            <div class="form">
                                <input type="text" name="name_on_card" id="" placeholder="Name on Card">
                                <input type="number" controls=none placeholder="Card Number" >
                                <div class="div-sec">
                                    <input type="text" name="Expires_date" id="" placeholder="Expiration Data">
                                    <input type="number" name=cvv placeholder="CVV">
                                </div>
                            </div>
        
                            <div class="terms">
                                <div class="shipping ter">
                                    <input type="checkbox" name="use_shipping_as_billing" id="">
                                    <p>Use Shipping address as Billing</p>
                                </div>
                                <div class="tasteclan-terms ter">
                                    <input type="checkbox" name="tasteclan_terms" id="">
                                    <p>I accept Tasteclan Terms and Condition. </p>
                                </div>
        
                                <div class="submit-button">
                                    <input type="submit" value="COMPLETE PURCHASE">
                                </div>
                            </div>
                        </div> -->
                 </form>
        
                     </main>
        
                     <aside>             
                        <div class="purchase-details">
                            <div class="item-detail-1 item-det">
                                <div class="item-name">
                                    <h3>Delivery Services</h3>
                                    <p></p>
                                </div>
                                <p>x3</p>
                                <div class="price">
                                    <span>N7500</span>
                                </div>
                            </div>
                        </div>
        
                     </aside>
                </div>
        </div>
    </div>
</body>

<script>
    {    // on body clicked
    // document.querySelector('.completePurchase').addEventListener('blur', () => {
    // alert('dark')
    // popDownMessage('completePurchase-container')
    // })
}

{ // Account Pop up on Cart page
    console.log(document.querySelector('.acctNum'))
    // copy account number
    let getAcctNumber = document.querySelector('.acctNum .num p');

    document.querySelector('.acctNum .num i').addEventListener("click", function(){
        copyToClipboard('.acctNum .num p');
        this.classList.remove('bi-clipboard')
        this.classList.add('bi-clipboard-check')
    })

}

{ // Account Pop Down 

    // on cliking the ok button
    document.querySelector('.completePurchase .btn').addEventListener('click', () => {
        popDownMessage('completePurchase-container')
        // clear the Check out section
       // getHtmlElement('#checkOutPage').style.display = "none"

        // add order to form
        addOrderListToForm()

        // submit the form
        document.querySelector('#form').submit()
    })

}

{ // hitting the complete purchase btn

document.querySelector('.submit-button').addEventListener('click', () => {

    const orderId = generateid()
    localStorage.setItem('orderId', orderId)
    // display id
    document.querySelector('#orderId').innerHTML = orderId


    console.log(localStorage.getItem('orderId'))

    // 
    popUpMessage('completePurchase-container')
})
}

</script>
<%- include ("./partials/scripts") %>
