<%- include("./partials/header") %>

<body>
    <div class="ContactPages">
        <div class="header">
            <nav>
                <%- include("./partials/menu") %>
            </nav>

        </div>    

        <main>
            <div class="extras conextra-2">
                <img src="../public/img/img/pasta-bolognese-sauce-italian-cuisine-lasagne-wine-wine-f18db469c8aff8c8b2843a5fe9398039.png" alt="">
            </div>
            <div class="contact-container">
                    <div class="contact-info">
                        <div class="header">
                            <img src="../public/img/icons/Female Memojis 1.png" alt="Female assistant image">
                            <h2>Hello !</h2>
                            <span>Let's get in touch</span>
                        </div>
                        <div class="contact-details">
                            <div class="contact">
                                <h6>Address</h6>
                                <p>FUTA,Akure <br> Ondo State, Ng</p>
                            </div>
                            <div class="contact">
                                <h6>Support</h6>
                                <p>info@tasteclan.com <br> +234 810 961 6211</p>

                            </div>
                        </div>
                    </div>
                <div class="contact-form">
                    <div class="form">
                        <form action="">
                            <input type="text" name="Name" id="" placeholder="Name*">
                            <input type="email" name="email" id="" placeholder="Email Address*">
                            <textarea name="message" id="" cols="90" rows="10" placeholder="Message*"></textarea>
                            <input type="submit" value="SEND MESSAGE">
                        </form>
                    </div>
                </div>
            </div>

            <div class="connectWithUs">
                <p>connect with us</p>
                <ul>
                    <li> <i class="bi bi-twitter"></i> </li>
                    <li> <i class="bi bi-instagram"></i> </li>
                    <li> <i class="bi bi-facebook"></i> </li>
                </ul>
            </div>
            <hr>
            <div class="copyright">
                <h6> &copy; copyright 2021 Tasteclan. All Rights Reserved.</h6>
            </div>
        </main>

    </div>
    
</body>

<%- include("./partials/scripts") %>