<%- include("./partials/header") %>


<body>
    <nav>
        <%- include("./partials/menu") %>
    </nav>
    <div class="partnerPage">
        <div class="extras patextra-1">
            <img src="/img/img/Daco_4919881.png" alt="">
        </div>

        
            <div class="breadCrum">
                <ul>
                    <li>Home</li>
                    <li><i class="bi bi-chevron-right"></i></li>
                    <li>Partner with us</li>
                </ul>
            </div>
            <div class="partner-container">
            <div class="texting">
                <div class="partner-header">
                    <h2>Partner with us</h2>
                </div>
                <div class="partner-text">
                    <h1>Vivamus arcu, facilisis at ut felis, erat blandit</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique rem, eius ipsam, fugit praesentium saepe quo ab consequatur, fuga cumque ipsum. Laborum aliquam nemo magnam corporis voluptate iusto quibusdam eligendi!</p>
                </div>
            </div>
                <div class="extras">
                    <img src="/img/img/Layer 14@1.5x.png" alt="">
                </div>
                <div class="partner-box">
                    <div class="forRestaurants box-content">
                       <div class="text">
                        <h3>For Restaurant</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores beatae quos vitae ut dignissimos nisi dolorum, nostrum explicabo perspiciatis consequuntur omnis optio eum accusantium? Magnam, ullam. Veniam consequuntur numquam dolorum!
                        </p>
                       </div>
                        <span><a href="/restaurants">ADD RESTAURANTS</a></span>
                    </div>
                    <div class="forDrivers box-content">
                            <div class="text">
                                <h3>For Drivers</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia velit sint quibusdam expedita nesciunt? Consequatur quasi voluptatibus dolores neque est amet perspiciatis dolorum magni iure quia officiis, velit molestiae. Amet.</p>
                            </div>
                         <span><a href="#">ADD DRIVER</a></span>
                 </div>
                </div>
            </div>
    
    
            <div class="partner_footer">
                    <div class="extras patextra-3">
                        <img src="/img/img/cssp.png" alt="">
                    </div>
                   <div class="footer_content">
                    <div class="tex">
                        <h3>Select from over 2000 restaurants</h3>
                        <p> adipisicing elit. Veniam quam, est dicta quae, accusamus eos nesciunt vitae aliquam ut facere, consectetur labore dolorum non</p>
                    </div>
                    <span>VIEW RESTAURANT</span>
                   </div>
                   <hr>
                   <div class="copy">
                       <p>&copy; CopyRight. All rights Reserved </p>
                   </div>
        
            </div>
        </div>
    
    </body>

<%- include("./partials/scripts") %>
