
<body>
    <div class="TermsPage">
        <div class="breadCrum">
            <ul>
                <li>Home</li>
                <i class="bi bi-chevron-right"></i>
                <li>Terms and Condition</li>
            </ul>
        </div>
        <header>
            <h4>Privacy</h4>
            <h3>Terms & Condition</h3>
            <p>Please carefully read the terms and conditions ("Terms and Conditions") below before placing any order from 
                  https://www.tasteclan.com/. By using this site, you (the ”User”) agree to these terms and conditions.
                   If you do not agree to the terms and conditions of this Agreement, you should immediately cease all usage of this website.
            </p>
            <p>Please note, we reserve the right, at any time, to modify, alter, or update the terms and conditions of this agreement without prior notice to you.</p>

        </header>
        <main>
            <section>
                <div class="section-1">
                    <div class="header">
                        <h4>Section 1: DEFINITION</h4>
                    </div>
                    <ol>
                        <li>“Agreement” references these Terms and Conditions (T&Cs), the Privacy Policy, any payment instructions provided to you and any other form we might provide to you.</li>
                        <li>By “Privacy Policy” we mean the policy accessible on our Website which details how we collect and store your personal data.</li>
                        <li>“You”, “Your” and “Yours” are references to you, the person accessing this Website, and placing the orders for the Goods or Services we display on it. Access through any other channel provided by Tasteclan will also bound you to these Terms and Conditions.</li>
                        <li>“We”, “Us”, “Our”, and “Tasteclan” are references to the Company.</li>
                        <li>“Goods” and “Service” is a reference to any goods or service which we may offer or you may request for sale from our Website from at a given time</li>
                        <li>“Partner Restaurant” or “Delivery Driver” is a third party, which has agreed to co-operate with the Company to prepare and/or deliver the Goods or Services.</li>
                        <li>“Food Delivery” references perishable goods and any form of delivery service, both provided by our Partner restaurants and for both of which our Partner restaurants take full responsibility.</li>
                        <li>	“Website” is a reference to our Website http://www.tasteclan.com or any other platform we will choose to offer our Goods or services.</li>
                    </ol>
                </div>
            </section>
            <section>
                <div class="section-2">
                    <div class="header">
                        <h4>Section 2: SERVICES</h4>
                    </div>
                    <ol>
                        <li>We are a delivery service provider providing you an online platform to (a) order food online from the list of restaurants and home food makers available on the Services</li>
                        <li>We do not own, sell, resell, furnish, provide, prepare, manage and/or control the Vendors or the related services provided in connection thereof.</li>
                        <li>Our responsibilities are limited to: (i) Facilitating the availability of the Services; and (ii) Serving as the limited agent of each Vendor for the purpose of accepting payments from you for your online food orders and delivering your order.</li>
                    </ol>
                </div>
            </section>
            <section>
                <div class="section-3">
                    <div class="header">
                        <h4>Section 3: REGISTRATION</h4>
                    </div>
                    <ol>
                        <li>By signing up to our website you are agreeing to the terms and conditions of sale which apply to all transactions on our website.
                            Signing up to the service means we must have the following information: <br>
                            a)	   Your address, including the postcode. <br>
                            b)	   Your home telephone number or mobile telephone number. <br>
                            c)	   Your email address, so we can supply you with important information such as your order confirmation   and delivery details
                            </li>
                        <li>You may access the Services either by (a) Registering to create an account and become a member (“Member”); or (b) You can also register to join by logging into your account with certain third party social networking sites (“SNS”). </li>
                        <li>By granting us access to any Third Party Accounts, you understand that we will access, make available and store (if applicable) any content or information that you have provided to and stored in your Third Party Account (“SNS Content”) so that it is available on and through the Services via your User Account.  Unless otherwise specified in these Terms of Use, all SNS Content, if any, will be considered to be your content for all purposes of these Terms.</li>
                        <li>You agree to provide accurate, current and complete information during the registration process and to update such information to keep it accurate, current and complete.</li>
                        <li>We reserve the right to suspend or terminate your Account and your access to the Services if any information provided during the registration process or thereafter proves to be inaccurate, not current or incomplete.</li>
                    </ol>
                </div>
            </section>
            <section>
                <div class="section-4">
                    <div class="header">
                        <h4>Section 4: PRICES AND PAYMENTS</h4>
                    </div>
                    <ol>
                        <li>All prices listed on the Website are correct at the time of publication; however, we reserve the right to alter these in the future. Prices are inclusive of the relevant sales tax and delivery charges are billed to the total price upon completion of order and check-out. We also reserve the right to alter the food items available for promos on the Website.</li>
                        <li>The total price for Food Delivery ordered, including delivery charges and other charges, will be displayed on the Website when you place your order. Full payment must be made for all Food dispatched. Payment can be made in cash on delivery or, if available on the website, by online payment, e.g. credit or debit card.</li>
                        <li>If you choose online payment, you must pay for your order before it is delivered. To ensure that shopping online is secure, your debit/credit card details will be encrypted to prevent the possibility of someone being able to read them as they are sent over the internet. Your credit card company may also conduct security checks to confirm it is you placing the order.</li>
                        <li>We have described all goods on the website as accurately as possible. As we deal in food, it is possible actual goods may vary slightly, in style and taste although we will endeavor to keep all items as uniform as possible.</li>
                    </ol>
                </div>
            </section>
            <section>
                <div class="section-5">
                    <div class="header">
                        <h4>Section 5: ORDERING</h4>
                    </div>
                    <ol>
                        <li>Any contract for the supply of Food Delivery from this Website is between you and the Participating Restaurant; for the supply of Food Services Delivery from this Website, we remain responsible for the preparation, quality and delivery of your order. You agree to take particular care when providing us with your details and warrant that these details are accurate and complete at the time of ordering.</li>
                        <li>Any order that you place with us is subject to product availability, delivery capacity and acceptance by us and the Participating Restaurant. When you place your order online, we will send you a message to confirm that we have received it. You must inform us immediately if any details are incorrect. Once we have sent a confirmation message we will check availability.</li>
                        <li>If the ordered Food Delivery and delivery capacity is available, the Participating Restaurant will accept the contract and confirm it to Tasteclan. If the details of the order are correct, the contract for the Food Delivery will be confirmed by text message (SMS) or Call.</li>
                        <li>Once the ordered food is ready to deliver, the confirmation message will specify delivery details including the approximate delivery time, the price of the Food ordered and the name of delivery executive.</li>
                        <li>If the Food is not available or if there is no delivery capacity, we will also let you know by text message (SMS) or phone call.</li>
                        <li>Any Food which you might buy from this Website are intended for your use only. Resale of Food or acting as an agent for a third party is forbidden under this agreement. Only when acting as a principal you should contract the Services.</li>
                    </ol>
                </div>
            </section>
            <section>
                <div class="section-6">
                    <div class="header">
                        <h4>Section 6: DELIVERY</h4>
                    </div>
                    <ol>
                        <li>Delivery periods at the time of ordering should be taken into account as approximate only and thus they might vary. Food will be sent to the delivery address you stated when placing the order.</li>
                        <li>All delivery for food ordered on our website will be made by Taste clan/ The Restaurants, we will make our best effort to deliver in a timely manner. If your order is not delivered within the estimated delivery time quoted by us, please contact us. You may also contact us by telephone or email and we will try to ensure that you receive your order as quickly as possible. Still, we take responsibility for late delivery.</li>
                        <li>If you fail to accept delivery of your order at the time it is ready for delivery, or we are unable to deliver at the nominated time due to your failure to provide appropriate instructions, or authorizations, then such meal(s) shall be deemed to have been delivered to you and all risk and responsibility in relation to such meal(s) shall pass to you. Any storage, insurance and other costs which we incur as a result of the inability to deliver shall be your responsibility and you shall indemnify us in full for such cost(s).</li>
                        <li>We shall not be liable to you for any losses, liabilities, costs, damages, charges or expenses arising out of late delivery.</li>
                        <li>You must understand and accept that it might not be possible to deliver to some locations. In such cases, we will inform you accordingly and arrange for cancellation of the order or delivery to any alternative delivery address.</li>
                    </ol>
                </div>
            </section>
            <section>
                <div class="section-7">
                    <div class="header">
                        <h4>Section 7: CANCELLATIONS & REFUNDS</h4>
                    </div>
                    <ol>
                        <li>You must notify Taste clan immediately if you decide to cancel your order, preferably by phone, and quote your order number. If we accept your cancellation, no cancellation fee applies. If we refuse cancellation, e.g. because preparation of the food has been completed and/or delivery personnel has already been dispatched, it may not be cancelled. Notwithstanding the foregoing, in case you paid for your order online, there is no refund of your payment. You can always contact us with any complaint or concern you may have with respect to an order for which you paid online.</li>
                        <li>We may cancel an order if the product is not available for any reason. We will notify you if this is the case and ask you to re-order if any payment has made. Please note that there is no refund.</li>
                        <li>In the unlikely event that the restaurant delivers a wrong order, you have the right to reject the wrong order and you shall be fully refunded for the original order if payment has been made. If the restaurant can only do a partial delivery (a few items might be not available), we would inform you or propose a replacement for unavailable items. We are responsible for wrong or partial delivery. The issue has to be settled directly with the restaurant. No extra fee for partial delivery.</li>
                    </ol>
                </div>
            </section>
            <section>
                <div class="section-8">
                    <div class="header">
                        <h4>Section 8: LIMITATION OF LIABILITY</h4>
                    </div>
                    <ol>
                        <li>Great care has been taken to ensure that the information available on this Website is correct and error free. We apologize for any errors or omissions that may have occurred. We cannot warrant that use of the Website will be error free or fit for purpose, timely, that defects will be corrected, or that the site or the server that makes it available are free of viruses or bugs or represents the full functionality, accuracy, reliability of the Website and we do not make any warranty whatsoever, whether express or implied, relating to fitness for purpose, or accuracy.</li>
                        <li>By accepting these Terms of Use you agree to relieve us from any liability whatsoever arising from your use of information from any third party, or your use of any third party website, or your consumption of any food or beverages from a Participating Restaurant.</li>
                        <li>We shall not be held liable for any failure or delay in delivering Food where such failure arises as a result of any act or omission, which is outside our reasonable control such as all overwhelming and unpreventable events caused directly and exclusively by the forces of nature that can be neither anticipated, nor controlled, nor prevented by the exercise of prudence, diligence, and care, including but not limited to: war, riot, civil commotion; compliance with any law or governmental order, rule, regulation or direction and acts of third parties.</li>
                        <li>We have taken all reasonable steps to prevent Internet fraud and ensure any data collected from you is stored as securely and safely as possible. However, we cannot be held liable in the extremely unlikely event of a breach in our secure computer servers or those of third parties</li>
                        <li>Offers are subject to Taste clan discretion and may be withdrawn at any time and without notice.</li>
                    </ol>
                </div>
            </section>
            <section>
                <div class="section-9">
                    <div class="header">
                        <h4>Section 9: GENERAL</h4>
                    </div>
                    <ol>
                        <li>All prices are in Naira.</li>
                        <li>We may subcontract any part or parts of the Services or Goods that we provide to you from time to time and we may assign part or parts of our rights under these Terms and Conditions without your consent or any requirement to notify you.</li>
                        <li>We may alter or vary the Terms and Conditions at any time without notice to you.</li>
                        <li>Payment must be made either at the time of ordering the Food Delivery, Goods or Services from us by credit card or at the time of delivery by cash. Failure to pay on time will result in the cancellation of your order.</li>
                        <li>Do not use or launch any automated system or program in connection with our website or its online ordering functionality.</li>
                        <li>Do not collect or harvest any personally identifiable information from the website, use communication systems provided by the website for any commercial solicitation purposes, solicit for any reason whatsoever any users of the website with respect to their submissions to the website, or publish or distribute any vouchers or codes in connection with the website, or scrape or hack the website.</li>
                        <li>The Terms and Conditions together with the Privacy Policy, any order form and payment instructions constitute the entire agreement between you and us. No other terms whether expressed or implied shall form part of this Agreement. In the event of any conflict between these Terms and Conditions and any other term or provision on the Website, these Terms and Conditions shall prevail.</li>
                        <li>If any Term or Condition of our Agreement shall be deemed invalid, illegal or unenforceable, the parties hereby agree that such term or condition shall be deemed to be deleted and the remainder of the Agreement shall continue in force without such term or condition.</li>
                        <li>These Terms and Conditions and our Agreement shall be governed by and construed in accordance with the laws of the Federal Republic of Nigeria. The parties here to submit to the exclusive jurisdiction of the courts of Law.</li>
                        <li>In the event of any dispute, or disagreement between the parties in relation to this Agreement, the Parties shall at first, meet to negotiate in good faith to settle the matter amicably. Where Parties fail to resolve any matter within 21 days, it shall be referred to a sole Arbitrator to be appointed by the parties herein, or in the absence of such agreement, to an Arbitrator appointed by the High Court of Lagos State.</li>
                        <li>The provisions of the Arbitration and Conciliation Act (Cap A18) Laws of the Federation of Nigeria 2004 shall apply to the arbitral proceedings. The decision of an Arbitrator appointed under this clause shall be final except where there is a manifest error in law or fact or miscarriage of justice.</li>
                    </ol>
                </div>
            </section>
        </main>
    </div>
</body>